@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@tailwind utilities;


:root {
  /* Brand Palette */
  --color-dumbell: #080A0C;
  --color-electrical: #FFF700;
  --color-steel: #EAE8FF;
  --color-blue: #00FFF7;

  --color-dumbell-70: #080A0C;
  --color-dumbell-60: #191924;
  --color-dumbell-50: #2A2A3C;
  --color-dumbell-40: #3B3B54;
  --color-dumbell-30: #B7B7CD;
  --color-dumbell-20: #CECEE4;
  --color-dumbell-10: #EAE8FF;

  /* Light Mode */
  --color-background: var(--color-steel);
  --color-text: var(--color-dumbell-60);
  --color-border: var(--color-dumbell-30);

  /* Fonts */
  --font-archivo: 'Archivo', sans-serif;
}


.dark {
  --color-background: var(--color-dumbell-60);
  --color-border: var(--color-dumbell-30);
  --color-text: var(--color-steel); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-ui-bg: var(--color-dumbell-40);
    --color-ui-text: var(--color-steel);
  }
}

html, body {
  height: 100%;
}


body {
  color: var(--color-text);
  font-family: var(--font-archivo);
  line-height: 1.6;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: var(--font-archivo);
  color: var(--color-ui-text);
  margin-bottom: 0.5em;
}

a {
  color: var(--color-text);
  font-weight: 500;
}

button {
  font-family: var(--font-archivo);
  font-weight: 500;
  background-color: var(--color-background);
  color: var(--color-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-dumbell-30);
}